body {
  background-color: 84ab85;
}

.tittletype {
  display: block;
  font-size: 90px;
  font-family: OCR A Std, monospace;
}
.texttype {
  font-size: 70px;
  font-family: OCR A Std, monospace;
  margin: 2px 50px 0px 0px;
}

.texttype2{
  font-size: 80px;
  font-family: OCR A Std, monospace;
  margin: 2px 50px 0px 0px; 
}

.texttype3{
  font-size: 75px;
  font-family: OCR A Std, monospace;
  margin: 2px 50px 0px 0px; 
}

.bordertype {
  border-width: 10px;
  border-color: black;
}

.longinput {
  max-width: 50%;
}

.smallinput {
  max-width: 150px;
}

.inputSize {
  width: 400px;
  height: 100px;
  font-size: 60px;
}

.Tables {
  width: 400cm;
  font-size: 50px;
}
